opencv-python~=4.10.0.82
torch~=2.3.0+cu121
numpy~=1.26.4
pandas~=2.1.4
pywin32~=305
einops~=0.8.0
pathlib~=1.0.1
pillow~=10.2.0
requests~=2.31.0
psutil~=5.9.0
streamlit~=1.30.0
matplotlib~=3.8.0
tqdm~=4.65.0
yaml~=0.2.5
pyyaml~=6.0.1
scipy~=1.11.4
future~=0.18.3
pygetwindow~=0.0.9
bettercam~=1.0.0